body {
    background-color: #f8f9fa;
    padding: 20px;
  }
  
  .kente-block {
    height: 60px;
  }

.block1 { background-color: #E9190F; }
.block2 { background-color: #FE4E00; }
.block3 { background-color: #E67F0D; }
.block4 { background-color: #FFAE03; }
.block5 { background-color: #F43408; }
.block6 { background-color: #F26707; }
.block7 { background-color: #F94104; }
.block8 { background-color: #F39708; }




